[MASTER]
# Use multiple processes to speed up Pylint.
jobs=1

# Pickle collected data for later comparisons.
persistent=yes

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
load-plugins=

# Allow loading of arbitrary C extensions. Extensions are imported into the
# active Python interpreter and may run arbitrary code.
unsafe-load-any-extension=no

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,

[REPORTS]
# Set the output format. Available formats are text, parseable, colorized, json
# and msvs (visual studio). You can also give a reporter class, e.g.
# mypackage.mymodule.MyReporterClass.
output-format=text

# Tells whether to display a full report or only the messages.
reports=no

# Python expression which should return a score less than or equal to 10. You
# have access to the variables 'fatal', 'error', 'warning', 'refactor',
# 'convention', and 'info' which contain the number of messages in each
# category, as well as 'statement' which is the total number of statements
# analyzed. This score is used by the global evaluation report (RP0004).
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)

# Activate the evaluation score.
score=yes

[REFACTORING]
# Maximum number of nested blocks for a function
max-nested-blocks=5

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=100

# String used for indentation (e.g. "  " for 2 spaces, "\t" for tabs).
indent-string='    '

# Number of spaces of indent required inside a hanging or continued line.
indent-after-paren=4

# Expected format for line-ending comment placeholders
expected-line-ending-format=

# Regexp for a line that is allowed to be longer than the limit.
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

[BASIC]
# Good variable names which should always be accepted, separated by a comma.
good-names=i,j,k,ex,id,db,_

# Regular expression which should only match function or class names that do
# not require a docstring.
no-docstring-rgx=__.*__|main

# Minimum line length for functions/classes that require docstrings, shorter
# ones are exempt.
docstring-min-length=10

[DESIGN]
# Maximum number of arguments for function / method.
max-args=10

# Maximum number of locals for function / method body.
max-locals=15

# Maximum number of return / yield for function / method body.
max-returns=6

# Maximum number of branch for function / method body.
max-branches=12

# Maximum number of statements in function / method body.
max-statements=50

# Maximum number of parents for a class (see R0904).
max-parents=7

# Maximum number of attributes for a class (see R0902).
max-attributes=7

# Minimum number of public methods for a class (see R0903).
min-public-methods=2

# Maximum number of boolean expressions in an if statement.
max-bool-expr=5

[VARIABLES]
# Tells whether we should check for unused import in __init__ files.
init-import=no

# A regular expression indicating which paths should be ignored
dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=4

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=no

[IMPORTS]
# Deprecated modules which should not be used, separated by a comma.
deprecated-modules=regsub,TERMIOS,Bastion,rexec

[CLASSES]
# List of method names used to declare (i.e. assign) instance attributes.
defining-attr-methods=__init__,__new__,setUp

# List of valid names for the first argument in a class method.
valid-classmethod-first-arg=cls

# List of valid names for the first argument in a metaclass class method.
valid-metaclass-classmethod-first-arg=mcs

[EXCEPTIONS]
# Exceptions that will emit a warning when being caught.
overgeneral-exceptions=Exception
